<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ruthie&display=swap" rel="stylesheet">

</head>

<body>

    <div class="topnav" id="myTopnav">
        <a id="nav" href="index.html" style="font-family: 'Ruthie', cursive; font-size: 24px;">B</a>
        <a id="nav" href="index.html">Home</a>
        <a id="nav" href="index.html">Facts</a>
        <a id="nav" href="index.html">What's New!</a>
        <a href="javascript:void(0);" class="icon" onclick="navFlexFunction()">
            <div class="container" onclick="menuFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

        </a>
    </div>

    <br>
    <br>

    <div class="flex-container">

        <div class="flex-item-left">
            <p id="app_name">Birdy</p>
            <p id="tagline">Tagline here!</p>
            <br>
            <br>
            <br>
        </div>


        <div class="flex-item-right">
            <img src="../static/images/bird_illustration.png" width="50%" height="auto">
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="flex-container">

        <div class="flex-item-right">
            <img src="../static/images/phone_mockup.png" width="50%" height="auto">
        </div>

        <div class="flex-item-left">
            <p id="title">How to Use?</p>

            <p id="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim duis enim non ac ut. Ut et
                arcu purus
                sagittis elementum cursus. Laoreet eu aliquam diam scelerisque. Lorem ipsum dolor sit, amet consectetur
                adipisicing elit.
                Debitis eum nisi culpa corrupti dignissimos perspiciatis blanditiis voluptatum placeat quasi.
                Pariatur assumenda odio esse possimus veniam distinctio non architecto itaque tenetur?</p>
            <br>

            <p id="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim duis enim non ac ut. Ut et
                arcu purus
                sagittis elementum cursus. Laoreet eu aliquam diam scelerisque. Lorem ipsum dolor sit, amet consectetur
                adipisicing elit.
                Debitis eum nisi culpa corrupti dignissimos perspiciatis blanditiis voluptatum placeat quasi.
                Pariatur assumenda odio esse possimus veniam distinctio non architecto itaque tenetur?</p>
            <br>
            <br>
            <center>
                <div id="button">
                    Continue
                </div>
            </center>
            <br>
            <br>

        </div>

    </div>


    <script>
        function navFlexFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function menuFunction(x) {
            x.classList.toggle("change");
        }
    </script>

    </script>
</body>

</html>