<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ruthie&display=swap" rel="stylesheet">

</head>

<body>

    <div class="topnav" id="myTopnav">
        <a id="nav" href="index.html" style="font-family: 'Ruthie', cursive; font-size: 24px;">B</a>
        <a id="nav" href="index.html">Home</a>
        <a id="nav" href="facts.html">Facts</a>
        <a id="nav" href="index.html">What's New!</a>
        <a href="javascript:void(0);" class="icon" onclick="navFlexFunction()">
            <div class="container" onclick="menuFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

        </a>
    </div>

    <br>
    <br>

    <div class="flex-container">

        <div class="flex-item-left">
            <center>
                <p id="tagline" style="padding: 0px;">Upload an image or take a pic</p>
                <br>

                <img id="mockup_image"src="../static/images/phone_mockup.png" width="25%" height="auto">


                <table cellspacing="25px">
                    <tr>
                        <td style="padding: 0px; text-align: center;"><img src="../static/images/upload.svg" width="40%" height="auto"></td>
                        <td style="padding: 0px; text-align: center;"><img src="../static/images/camera.svg" width="40%" height="auto"></td>
                    </tr>
                    <tr>
                        <td>
                            <p id="button_headers" style="padding: 0px; text-align: center;">Upload</p>
                        </td>
                        <td>
                            <p id="button_headers" style="padding: 0px; text-align: center;">Camera</p>
                        </td>
                    </tr>
                </table>

                <br>

                
                    <div id="button">
                        <a href="upload.html" style="color: white;">Identify</a> 
                    </div>
               

            </center>
        </div>


        <div class="flex-item-right">
            <img src="../static/images/phone_mockup.png" width="50%" height="auto">
        </div>

    </div>

    <script>
        function navFlexFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function menuFunction(x) {
            x.classList.toggle("change");
        }
    </script>

    </script>
</body>

</html>